body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Bree Serif', serif;
}

h1 {
  color: #e0a720;
  font-family: 'Rye', cursive;
  font-size: 5em;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.4em;
}

a {
  color: #fff;
}

a:hover, a:active {
  color: #e0a720;
}
#main {
  align-items: center;
  display: flex;
  margin: 2em;
  justify-content: center;
}

#content {
  background-color: rgba(0, 0, 0, .92);
  border-radius: 0.55em;
  color: #fff;
  max-width: 900px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

#shield {
  width: 7em;
}

#now-playing {
  border-radius: 0.55em;
  border: 2px solid #e0a720;
  color: #e0a720;
  margin: 3em auto;
  max-width: 600px;
}

#now-playing p {
  margin-bottom: 0.2em;
}

#now-playing > .clickable:hover {
  color: #fff;
}

#schedule {
  background-color: #232323;
  border-radius: 0.55em;
  color: #fff;
  display: none;
  max-width: 800px;
  padding: 3em;
  position: absolute;
  z-index: 100000000;
}

#schedule h2 {
  color: #e0a720;
  font-family: 'Rye', cursive;
  font-size: 4em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

#schedule h3 {
  color: #e0a720;
  font-size: 1.4em;
  margin: 0;
  text-align: center;
}

#schedule p {
  font-size: 1.1em;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
}
