body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Bree Serif', serif;
}

h1 {
  color: #e0a720;
  font-family: 'Rye', cursive;
  font-size: 5em;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.4em;
}

a {
  color: #fff;
}

a:hover, a:active {
  color: #e0a720;
}
#main {
  align-items: center;
  display: flex;
  margin: 2em 2em 1em 2em;
  justify-content: center;
}

#content {
  background-color: rgba(0, 0, 0, .92);
  border-radius: 0.55em;
  color: #fff;
  max-width: 900px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

#shield {
  width: 7em;
}

#now-playing {
  border-radius: 0.55em;
  border: 2px solid #e0a720;
  color: #e0a720;
  margin: 3em auto;
  max-width: 600px;
}

#now-playing h3 {
  font-size: 1.4em;
  margin-bottom: 0;
}

#now-playing p {
  font-size: 1.2em;
  margin-bottom: 0.25em;
}

#now-playing > .clickable:hover {
  color: #fff;
}

#schedule {
  background-color: #232323;
  border-radius: 0.55em;
  color: #fff;
  display: none;
  margin: 1em;
  padding: 1em;
}

#schedule h3 {
  margin-top: 0;
}

#schedule > .clickable:hover {
  color: #e0a720;
}

#widget-vertical {
  display:none;
}

.close-x {
  color: #e0a720;
  cursor: pointer;
  padding: 1.2em;
  position: absolute;
  right: 0;
  top: 0;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
}

.accent {
  color: #e0a720;
}

#site-credit {
  color: #fff;
  font-size: 1em;
  text-align: center;
  margin-bottom: 2em;
}

@media only screen and (max-width: 475px) {
  h1 {
    font-size: 4em;
  }
  #widget-horizontal {
    display:none;
  }
  #widget-vertical {
    display:block;
    text-align: center;
  }
}
